@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .align-item{
    @apply mx-auto max-w-6xl px-8;
  }
}


body{
 font-family: 'Supreme', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bespoke Stencil', sans-serif;
}

button{
  font-family:inherit;
}
